<header>
    <div>
        <img src="{{ asset('img/favicon.png') }}" alt="logo site bucket_list" height="40px">
        <h1>Bucket-List</h1>
    </div>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('list') }}">All wishes</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>