{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h4 id="wishes">Liste des souhaits</h4>
        <section class="wish-section">
            {% for wish in wishes %}
                <article class="wish">
                    <a href="{{ path('detail', {'id': wish.id}) }}">
                        {{ wish.title }}
                    </a>
                </article>
            {% endfor %}

        </section>
    </main>
{% endblock %}