{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(wishForm) }}
    {{ form_widget(wishForm) }}
    <button type="submit">Créer</button>
    {{ form_end(wishForm) }}

{% endblock %}

