main {
  flex-grow: 1;
  background: antiquewhite;

  p, img {
    margin-left: 50px;
  }

  h4 {
    margin-left: 150px;
  }

  hr {
    margin: 150px auto;
  }

  .wish {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 400px;
  }

  .wish a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .wish a:hover {
    color: #ff6600;
  }

  #wishes {
    text-align: center;
    margin: 100px 0 70px 0;
  }

  #contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 1100px;
  }

  #desc {
    width: 500px;
  }


}